<?php

// uncomment the following to define a path alias
// Yii::setPathOfAlias('local','path/to/local-folder');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
	'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
	'name'=>'My Web Application',

	// preloading 'log' component
	'preload'=>array('log'),

	// autoloading model and component classes
	'import'=>array(
		'application.models.*',
		'application.components.*',
	),

	// application components
	'components'=>array(
	'authManager' => array(
		    // Будем использовать свой менеджер авторизации
		    'class' => 'PhpAuthManager',
		    // Роль по умолчанию. User
		    'defaultRoles' => array('User'),
),
		'user'=>array(
			// enable cookie-based authentication
			'allowAutoLogin'=>true,
		),
		// uncomment the following to enable URLs in path-format
		
		/*'urlManager'=>array(
			'urlFormat'=>'path',
			'showScriptName'=>false,
			'rules'=>array(
				'<controller:\w+>/<id:\d+>'=>'<controller>/view',
				'<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
				'<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
			),
		),*/

		
		/* 'db'=>array(
			'connectionString' => 'sqlite:'.dirname(__FILE__).'/../data/testdrive.db',
		), */
		// uncomment the following to use a MySQL database
		
//		DATABASE CONFIG
 
		'db'=>array(
			'connectionString' => 'mysql:host=piogroup.net;dbname=piogroup_clab',
			'emulatePrepare' => true,
			'username' => 'piogroup_cluser',
			'password' => 'nFtGQGLd9E32',
			'charset' => 'utf8',
		),
		
		'errorHandler'=>array(
			// use 'site/error' action to display errors
            'errorAction'=>'site/error',
        ),
		'log'=>array(
			'class'=>'CLogRouter',
			'routes'=>array(
				array(
					'class'=>'CFileLogRoute',
					'levels'=>'error, warning',
		        	'logPath'	=> dirname(_FILE_).'../logs',
		        	'logFile'	=>'error_log.txt',
				),
				// uncomment the following to show log messages on web pages
				/*
				array(
					'class'=>'CWebLogRoute',
				),
				*/
			),
		),
	),

	// GII
	
	'import'=>array(
        'application.models.*',
        'application.components.*',
    ),
 
    'modules'=>array(
        'gii'=>array(
            'class'=>'system.gii.GiiModule',
            'password'=>'root116',
        ),
    ),
	
	
	// application-level parameters that can be accessed
	// using Yii::app()->params['paramName']
	'params'=>array(
	
		'fontTypes'=>
    array(
		'Arial'=>'Arial',
		'Arial Black'=>'Arial Black',
		'Book Antiqua'=>'Book Antiqua',
		'Comic Sans MS'=>'Comic Sans MS',
		'Courier New'=>'Courier New',
		'Georgia'=>'Georgia',
		'Impact'=>'Impact',
		'Symbol'=>'Symbol',
		'Tahoma'=>'Tahoma',
		'Terminal'=>'Terminal',
		'Times New Roman'=>'Times New Roman',
		'Trebuchet MS'=>'Trebuchet MS',
		'Verdana'=>'Verdana',
		'Webdings'=>'Webdings'),
    
    	'attributeExportOrder'=>
    array( 'title' => 'Title', 
    		'value' => 'Value', 
    		'maker_artist' => 'Artist', 
    		'description' => 'Description', 
    		'medium' => 'Medium', 
			'dimensions' =>	'Dimensions', 
    		'data_period' => 'Data/Period', 
    		'markings' => 'Markings',
    		'condition' => 'Condition',
    		'provenance' => 'Provenance',
    		'exhibited' => 'Exhibited',
    		'literature' => 'Literature',
    		'acquistion_cost' => 'Acquistion Cost',
    		'acquistion_date' => 'Acquistion Date',
    		'acquistion_source' => 'Acquistion Source',
    		'notes' => 'Notes',
    		'comparables' => 'Comparables'),
	), 
);